/*
CODE WRITTEN BY KYLE SCOTT FOR HTTP-5112-RNA (09/11/2023) C# MODULE 1
  VIDEO: "THE WEB LANDSCAPE PT.1"
  https://www.youtube.com/watch?v=HEoAm-xbZ6M
*/

h1 {
    color: red; text-align:center;
  }